.hero {
  background-image: url(../../images/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-direction: column;

  @extend .flex-center-center;
  @include not-mobile {
    min-height: 542px;
    gap: 20px;
  }
  @include mobile-only {
    min-height: 384px;
    gap: 10px;
  }
  &__img {
    @include box(100%, auto);
  }

  &__title {
    display: none;
    &-icon {
      @include desktop-only {
        width: 785px;
      }
      @include tablet-only {
        width: 585px;
      }
      @include mobile-only {
        width: 305px;
      }
    }
  }
  &__subtitle {
    color: $gray-50;
    display: block;
    text-align: center;

    @extend .m0;
    @extend .uppercase;
    @include desktop-only {
      padding-left: 60px;
      @include font-params(36px, 400, null, 11px);
    }
    @include tablet-only {
      padding-left: 40px;

      @include font-params(24px, 400, null, 7px);
    }
    @include mobile-only {
      max-width: 240px;
      @include font-params(18px, 400, null, 5px);
    }
  }
}
