.hero {
  background-image: url(../../images/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  

  @extend .flex-center-center;
  @include not-mobile {
    min-height: 542px;
    gap: 20px;
  }
  @include mobile-only {
    min-height: 384px;
    gap: 10px;
  }
  &__img {
    @include box(100%, auto);
  }

  &__title,
  &__subtitle {
    display: block;
    color: $white;

    @extend .m0;
  }

  &__title {
    text-align: center;

    @extend .uppercase;
    @include desktop-only {
      @include font-params(62px, 400);
    }
    @include tablet-only {
      @include font-params(62px, 400);
    }
    @include mobile-only {
      @include font-params(24px, 400);
    }
  }
  &__subtitle {
    color: $gray-50;
    
    
    @include desktop-only {
      @include font-params(24px, 700, null, 6.84px);
    }
    @include tablet-only {
      @include font-params(16px, 700, null, 5px);
    }
    @include mobile-only {
      @include font-params(14px, 700, null, 4px);
    }
    @extend .uppercase;
  }
}