.hero {
  background-image: url(../../images/hero/hero-bg-dt.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  border-radius: 10px;

  @extend .fcc;
  @include not-mobile {
    min-height: 542px;
    gap: 20px;
  }
  @include mobile-only {
    background-image: url(../../images/hero/hero-bg-mb.webp);
    min-height: 384px;
    gap: 10px;
  }

  &__title {
    display: none;
  }
}
