.wish {
  display: flex;

  @extend .container;
  @include desktop-only {
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    
    @include padding-y(84px);
  }
  @include not-desktop {
    flex-direction: column;
    row-gap: 30px;

    @include padding-y(62px);
  }
  
  &__info {
    align-items: baseline;

    @extend .fc;
    @include not-mobile {
      max-width: 320px;
    }

    @include mobile-only {
      max-width: 290px;
    }
  }

  &__video-wrapper {
    @include desktop-only {
      @include box(100%);
      
      max-width: 893px;
    }
    position: relative;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    overflow: hidden;
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;

    @include box(100%);
  }

  &__video-overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../images/wish-video-placeholder.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;

    @include box(100%);
    @extend .flex-center-center;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__play-button {
    border-radius: 50px;
    background-color: $black-opacity;
    border: 1px solid $coffee;
    backdrop-filter: blur(10px);
    cursor: pointer;

    @include box(96px);
    @extend .flex-center-center;
    & svg {
      transition: transform 0.2s ease;
    }
    &:hover svg {
      transform: scale(1.1);
    }
  }

  &__title {
    color: $black;
    margin-bottom: 14px;

    @extend .m0;
    @include not-mobile {
      @include font-params(24px, 400);
    }

    @include mobile-only {

      @include font-params(22px, 400);
    }
  }

  &__description {
    margin-bottom: 30px;
    color: $text;

    @extend .m0;
    @include not-mobile {
      @include font-params(14px, 400, 22px);
    }

    @include mobile-only {
      @include font-params(12px, 400, 19px);
    }
  }
}