.wish {
  display: flex;

  @extend .container;
  @include not-mobile {
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    @include padding-y(84px);
  }
  @include not-desktop {
    flex-direction: column;
    align-items: baseline;
    row-gap: 50px;

    @include padding-y(62px);
  }

  &__info {
    align-items: baseline;
    background-image: url(../../images/branch.svg);
    background-repeat: no-repeat;

    @extend .fc;
    @include not-mobile {
      max-width: 320px;
      padding-top: 60px;
    }
    @include tablet-only {
      max-width: 500px;
    }
    @include mobile-only {
      padding-top: 50px;
      background-size: 75px;
    }
  }

  &__video-wrapper {
    @include box(100%);

    @include desktop-only {
      max-width: 893px;
    }
    position: relative;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    overflow: hidden;
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;

    @include box(100%);
  }

  &__video-overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../images/wish-video-placeholder.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;

    @include box(100%);
    @extend .fcc;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__play-button {
    border-radius: 50px;
    background-color: $black-opacity;
    border: 1px solid $coffee;
    backdrop-filter: blur(10px);
    cursor: pointer;

    @extend .p0;
    @include not-mobile {
      @include box(96px);
    }
    @include mobile-only {
      & svg {
        @include box(38px);
      }
      @include box(76px);
    }

    @extend .fcc;
    & svg {
      transition: transform 0.2s ease;
    }
    &:hover svg {
      transform: scale(1.1);
    }

    &-message {
      display: none;
      color: $white;

      @include font-params(16px, 400);
    }

    &.show-message {
      cursor: initial;

      @include padding-x(20px);
      @include box(unset);

      .wish__play-button-message {
        display: block;
      }

      .wish__play-button-icon {
        display: none;
      }
    }
  }

  &__title {
    color: $black;
    margin-bottom: 14px;

    @extend .m0;
    @include not-mobile {
      @include font-params(24px, 400);
    }

    @include mobile-only {
      @include font-params(22px, 400);
    }
  }

  &__description {
    margin-bottom: 30px;
    color: $text;

    @extend .m0;
    @include not-mobile {
      @include font-params(14px, 400, 22px);
    }

    @include mobile-only {
      @include font-params(12px, 400, 19px);
    }
  }
}
