.view-more-card {
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $very-light-gray;
  height: 100%;
  box-sizing: border-box;
  gap: 30px;

  @extend .fc;
  @include not-mobile {
    padding: 30px 30px 54px 30px;
  }
  @include mobile-only {
    padding: 18px 18px 30px 18px;
  }

  &__logo-wrapper {
    background-color: $black-50;
    border-radius: 4px;
    height: 100%;
    padding: 24px;

    @extend .flex-center-center;
  }

  &__logo {
    max-width: 225px;
    max-height: 225px;

    @include box(100%);
  }
}