.footer {
  @include padding-y(30px);

  flex: 1 1 auto; // do not remove
  background-color: $black;
  &__copyright{
    @extend .m0;
    
    color: $white;
    font-size: 14px;
    line-height: 21px;
  }
}