.footer {
  @include padding-y(30px);

  flex: 1 1 auto; // do not remove
  background-color: $black;
  &__copyright{
    color: $white;
    
    @extend .m0;
    @include font-params(14px, 400, 21px);
    @include mobile-only {
      max-width: 215px;
    };
  }
}