.card {
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $very-light-gray;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);

  @include margin-x(2px);
  @extend .fc;
  @include not-mobile {
    padding: 30px 30px 54px 30px;
  }
  @include mobile-only {
    padding: 18px 18px 30px 18px;
  }

  &__img-wrapper {
    position: relative;
    border-radius: 5px;
    border: 1px solid $very-light-gray;
    background-color: $product-bg;
    padding: 15px 30px;
    box-sizing: border-box;
    height: 275px;

    @extend .flex-align-center;
    @include not-mobile {
      margin-bottom: 40px;
    }
    @include mobile-only {
      margin-bottom: 30px;
    }
    @media only screen and (min-width: 850px) and (max-width: $breakpoint-desktop - 0.02) {
      height: 220px;
    }
    @include media-custom-max(450px) {
      height: 220px;
    }
  }

  &__img {
    margin: 0 auto;
    display: block;

    @include box(100%, auto);
    @include not-mobile {
      max-width: 244px;
    }
    @include mobile-only {
      max-width: 186px;
    }
  }

  &__info {
    gap: 8px;

    @extend .fc;
    @include not-mobile {
      margin-bottom: 30px;
    }
    @include mobile-only {
      margin-bottom: 20px;
    }
  }

  &__title {
    color: $near-black;
    font-family: "Inter";

    @extend .m0;
    @include not-mobile {
      @include font-params(16px, 700, 19px);
    }
    @include mobile-only {
      @include font-params(12px, 700, 12px);
    }
  }

  &__subtitle {
    color: $coffee;

    @extend .uppercase;
    @include not-mobile {
      @include font-params(12px, 700, 19px);
    }
    @include mobile-only {
      @include font-params(8px, 700, 12px);
    }
  }
  &__label {
    display: none;
    top: -12px;
    left: 10px;
  }
  &__discount {
    display: none;
    padding-top: 14px;
    border-top: 1px dashed $black-opacity;
    margin: 4px 0 0 0;
    @extend .uppercase;

    &-info {
      color: $near-black;

      @include font-params(14px, 400, 18px);
    }
    &-code {
      font-weight: 600;
      color: $red-discount;
    }
    & * {
      @include mobile-only {
        font-size: 12px;
      }
    }
  }

  &__label.active,
  &__discount.active {
    display: block;
  }
}
