.card {
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $very-light-gray;
  height: 100%;
  box-sizing: border-box;

  @extend .fc;
  @include not-mobile {
    padding: 30px 30px 54px 30px;
  }
  @include mobile-only {
    padding: 18px 18px 30px 18px;
  }

  &__img-wrapper {
    border-radius: 5px;
    border: 1px solid $very-light-gray;
    background-color: $product-bg;
    padding: 15px 30px;
    height: 100%;

    @extend .flex-align-center;
    @include not-mobile {
      margin-bottom: 40px;
    }
    @include mobile-only {
      margin-bottom: 30px;
    }
  }

  &__img {
    margin: 0 auto;
    display: block;
    
    @include box(100%, auto);
    @include not-mobile {
      max-width: 244px;
    }
    @include mobile-only {
      max-width: 186px;
    }
  }

  &__info {
    gap: 8px;

    @extend .fc;
    @include not-mobile {
      margin-bottom: 30px;
    }
    @include mobile-only {
      margin-bottom: 20px;
    }
  }

  &__title {
    color: $near-black;
    font-family: 'Inter';
    
    @extend .m0;
    @include not-mobile {
      @include font-params(16px, 700, 19px);
    }
    @include mobile-only {
      @include font-params(12px, 700, 12px);
    }
  }

  &__subtitle {
    color: $coffee;

    
    @extend .uppercase;
    @include not-mobile {
      @include font-params(12px, 700, 19px);
    }
    @include mobile-only {
      @include font-params(8px, 700, 12px);
    }
  }

  // &__link {
  //   color: $gold;
  //   transition: color 0.2s ease;
  //   gap: 6px;
  //   margin-top: auto;
  //   text-decoration: none;

  //   @extend .uppercase;
  //   @extend .flex-align-center;
  //   @include not-mobile {
  //     @include font-params(14px, 700, null, 0.28px);
  //   }
  //   @include mobile-only {
  //     @include font-params(10px, 700, null, 0.2px);
  //   }

  //   & svg path {
  //     transition: fill 0.2s ease;
  //   } 
  
  //   &:hover {
  //     color: $dark-gold;
  
  //     & svg path {
  //       fill: $dark-gold;
  //     }
  //   }
  // }
}


