.swiper {
  &-wrapper {
    padding-bottom: 5px;
    padding-left: 0;
    @extend .m0;
  }
  &-navigation {
    @extend .fr;
  }
  &-button-prev {
    background-color: $coffee;
  }

  &-button-next {
    background-color: $white;
  }

  &-button-prev,
  &-button-next {
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s ease;

    @extend .fcc;
    @extend .p0;
    @include not-mobile {
      @include box(52px);
    }
    @include mobile-only {
      @include box(34px);

      & svg {
        @include box(8px, 10px);
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
