.link-button {
  color: $gold;
  transition: color 0.2s ease;
  gap: 6px;
  margin-top: auto;
  text-decoration: none;

  @extend .uppercase;
  @extend .flex-align-center;
  @include not-mobile {
    @include font-params(14px, 700, null, 0.28px);
  }
  @include mobile-only {
    @include font-params(10px, 700, null, 0.2px);
  }

  & svg path {
    transition: fill 0.2s ease;
  }

  &:hover {
    color: $dark-gold;

    & svg path {
      fill: $dark-gold;
    }
  }
}
