.catalog {
  &__banner {
    position: relative;
    height: 100%;
    align-items: end;

    @include not-mobile {
      min-height: 683px;
    }
    @include mobile-only {
      max-height: 200px;
    }

    & .swiper {
      height: 683px;

      @include mobile-only {
        max-height: 200px;
      }

      &-banner {
        background-repeat: no-repeat;
        background-size: cover;

        @include box(100%);
        @include not-mobile {
          background-position: center center;
        }
        @include mobile-only {
          background-position: 50% 30%;
        }
      }
    }
  }

  &__info {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;

    @extend .fc;
    // @extend .container;
    @include not-mobile {
      bottom: 120px;
    }
    @include mobile-only {
      bottom: 24px;
    }
  }

  &__title {
    text-transform: capitalize;

    @include font-params(48px, 400);
    @include margin-y(0, 8px);
    @include mobile-only {
      @include font-params(20px);
    }
  }

  &__description {
    @extend .m0;
    @include font-params(16px, 400, 24px);
    @include mobile-only {
      @include font-params(10px, 400, 14px);
    }
  }

  &__description,
  &__title {
    color: $white;
  }

  &__swiper {
    background-color: $catalog-bg;

    @include mobile-only {
      padding-top: 24px;
    }

    & .swiper {
      margin-right: unset;

      @include not-mobile {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 30px;
        align-items: flex-end;
        margin-top: -160px;
      }

      &-slide {
        height: unset;
      }
      &-navigation {
        @include desktop-only {
          transform: translateX(-20px);
        }
        @include not-mobile {
          gap: 20px;
          justify-content: flex-end;

          @include margin-x(auto);
          @include not-mobile {
            max-width: 1280px;
            width: calc(100% - $offset-desktop * 2);
          }
        }
        @include tablet-only {
          margin-right: $offset-desktop;
        }
        @include mobile-only {
          margin-top: 24px;
          gap: 10px;
        }
      }
    }
  }
}

#bowling-team .catalog__banner .swiper-banner {
  &_1 {
    background-image: url(../../images/catalog/banners/bowling-team/bowling-team-2.webp);
  }
  &_2 {
    background-image: url(../../images/catalog/banners/bowling-team/bowling-team-1.webp);
  }
}

#noble-family .catalog__banner .swiper-banner {
  &_1 {
    background-image: url(../../images/catalog/banners/noble-family/nf-1.webp);
  }
  &_2 {
    background-image: url(../../images/catalog/banners/noble-family/nf-2.webp);
  }
}

#graduate-hotel .catalog__banner .swiper-banner {
  &_1 {
    background-image: url(../../images/catalog/banners/graduate-hotel/gh-1.webp);
  }
  &_2 {
    background-image: url(../../images/catalog/banners/graduate-hotel/gh-2.webp);
  }
}
