.follow {
  background: $catalog-bg;

  @include not-mobile {
    padding-bottom: 100px;
  }
  @include mobile-only {
    padding-bottom: 40px;
  }

  &__wrapper {
    @extend .flex;
    @extend .container;
    @include not-desktop {
      flex-direction: column;
      align-items: baseline;
      row-gap: 40px;
    }
    @include desktop-only {
      justify-content: space-between;
      align-items: center;
      column-gap: 40px;
    }
  }

  &__title {
    max-width: 305px;

    @include not-mobile {
      @include font-params(40px, 400);
    }
    @include mobile-only {
      margin-bottom: 15px;

      @include font-params(22px, 400);
    }
    @extend .uppercase;
    @extend .m0;
  }

  &__description {
    color: $text;
    max-width: 486px;

    @extend .m0;
    @include not-mobile {
      @include font-params(16px, 400, 24px);
    }
    @include mobile-only {
      margin-bottom: 30px;

      @include font-params(14px, 400, 20px);
    }
  }
  &__info {
    gap: 30px;

    @include mobile-only {
      gap: unset;
    }
    @extend .fc;
  }

  &__img-wrapper {
    @include not-mobile {
      max-width: 580px;
    }
    @include mobile-only {
      width: 100%;
    }
  }

  &__img {
    border-radius: 5px;

    @include box(100%);
  }
}
