.quote {
  background-color: $catalog-bg;

  &__wrapper {
    background-repeat: no-repeat;
    background-size: auto;

    @include desktop-only {
      max-width: 1020px;
      width: 100%;
    }

    @include tablet-only {
      @include padding-x($offset-tablet);
    }
    @include mobile-only {
      @include padding-x($offset-mobile);
    }

    .quote_v1 & {
      background-image: url(../../images/quote-img-1.svg);

      @include desktop-only {
        background-position: center right;
        width: calc(100% - $offset-desktop * 2);

        @include margin-x(auto);
        @include padding-y(130px, 95px);
      }
      @include tablet-only {
        background-position: 120% bottom;

        @include padding-y(90px, 150px);
      }

      @include mobile-only {
        background-position: 110% 80%;
        background-size: 270px;

        @include padding-y(60px, 190px);
      }
      @include media-custom-max(500px) {
        background-position: 240px 80%;

        @include padding-y(60px, 190px);
      }

      .quote__author-name {
        @include tablet-only {
          max-width: 306px;
        }
      }
    }
    .quote_v2 & {
      background-image: url(../../images/quote-img-2.svg);

      @include desktop-only {
        background-position: -71px center;
        max-width: 1080px;
        width: calc(100% - 30px);
        @include padding-y(130px);
      }
      @include tablet-only {
        background-position: -31px 40px;

        @include padding-y(300px, 50px);
      }

      @include mobile-only {
        background-position: -31px 40px;
        background-size: 300px;

        @include padding-y(200px, 50px);
      }
    }
  }

  &__info {
    gap: 16px;
    max-width: 538px;

    @extend .fc;

    .quote_v1 & {
      @include mobile-only {
        max-width: 69%;
      }
      @include media-custom-max(500px) {
        max-width: 320px;
      }
    }

    .quote_v2 & {
      @include desktop-only {
        margin-left: auto;
      }
      @include mobile-only {
        max-width: 69%;
      }
      @include media-custom-max(500px) {
        max-width: 320px;
      }
    }
  }

  &__title {
    color: $black;
    margin-left: 10px;

    @extend .m0;
    @include not-mobile {
      @include font-params(26px, 400);
    }

    @include mobile-only {
      @include font-params(16px, 400);
    }

    & q {
      display: block;
      text-indent: -10px;
      @include mobile-only {
        text-indent: -7px;
      }
    }
  }

  &__author {
    gap: 13px;

    @extend .flex-align-center;

    &-name {
      color: $coffee;

      @include font-params(12px, 700, 19px, 2px);
    }
    &-img {
      border-radius: 50px;
      @include not-mobile {
        @include box(50px);
      }
      @include mobile-only {
        @include box(36px);
      }
    }
  }

  &_holding {
    & .quote__info {
      @include mobile-only {
        max-width: 100%;
      }
    }
    & .quote__title {
      @include font-params(36px, 400);
      @include mobile-only {
        @include font-params(24px, 400);
      }

      i {
        font-style: italic;

        @include font-params(32px, 400);
        @include mobile-only {
          @include font-params(24px, 400);
        }
      }
    }
  }
}
