.gift {
  position: relative;
  background-color: $catalog-bg;
  overflow-x: hidden;

  &::before,
  &::after {
    position: absolute;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    top: 40px;

    @include not-mobile {
      @include box(250px, 300px);
    }
    @include mobile-only {
      @include box(30%);
    }
  }

  &::before {
    left: -40px;
    background-image: url(../../images/gift-1.svg);
  }
  &::after {
    right: -40px;
    background-image: url(../../images/gift-2.svg);
  }

  @include not-mobile {
    @include padding-y(80px, 100px);
  }
  @include mobile-only {
    @include padding-y(60px, 80px);
  }

  &__container {
    @extend .container;
  }
  &__swiper {
    @include mobile-only {
      @include padding-x(12px);
    }
  }
  &__info {
    margin-bottom: 40px;

    @extend .fcac;
  }

  &__title {
    margin-bottom: 12px;

    @extend .m0;
    @include mobile-only {
      @include font-params(22, 400);
    }
    @include not-mobile {
      @include font-params(32px, 400);
    }
  }

  &__description {
    color: $text;
    text-align: center;

    @extend .m0;
    @include not-mobile {
      @include font-params(16px, 400, 24px);
    }
    @include mobile-only {
      max-width: 250px;

      @include font-params(14px, 400, 22px);
    }
  }

  &__swiper .swiper {
    @extend .fc;
    @include not-mobile {
      gap: 40px;
    }
    @include mobile-only {
      gap: 20px;
    }

    &-navigation {
      width: 100%;

      @extend .fjc;
      @include mobile-only {
        justify-content: flex-start;
        gap: 10px;
      }
      @include not-mobile {
        gap: 20px;
      }
    }
  }

  &_holding {
    padding: 0;

    & .gift__subtitle {
      color: $brown;
      text-transform: uppercase;
      @include font-params(16px, 700, 19px, 2px);
    }
  }
}
