.header {
  @extend .flex-column;

  &__top {
    @include padding-y(13px);
    @include mobile-only {
      display: none;
    }

    background-color: $red-800;
    color: $white;
  }

  &__info {
    @extend .uppercase;
    @extend .m-0;
    @include font-params(14px, null, 22px);

    &-bolder {
      font-weight: 700;
    }    
  }
  &__bottom {
    @extend .container;
    @extend .flex-row-center-space-between;
    @include padding-y(35px, 26px);
    @include mobile-only {
      flex-direction: row-reverse;
    }
  }
}