.header {
  @extend .fc;
  @include not-mobile {
    padding-top: 48px;
  }

  &__top {
    background-color: $red-800;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    @include padding-y(13px);
    @include mobile-only {
      display: none;
    }
  }

  &__info {
    @extend .uppercase;
    @extend .m0;
    @include font-params(14px, null, 22px);

    &-bolder {
      font-weight: 700;
    }
  }
  &__bottom {
    @extend .container;
    @extend .flex-row-center-space-between;
    @include padding-y(35px, 26px);
    @include mobile-only {
      flex-direction: row-reverse;

      @include padding-y(26px);
    }
  }
}
