.header {
  @include not-mobile {
    padding-top: 48px;
  }
  @include mobile-only {
    padding-top: 89px;
  }

  &_sticky {
    @include not-mobile {
      padding-top: 154px;
    }
  }

  &_holding {
    padding-top: 0;
  }

  &__top {
    background-color: $red-800;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    @include padding-y(13px);
    @include mobile-only {
      display: none;
    }
  }

  &__info {
    @extend .uppercase;
    @extend .m0;
    @include font-params(14px, null, 22px);

    &-bolder {
      font-weight: 700;
    }
  }
  &__bottom {
    background-color: $white;
    @include padding-y(30px);
    @include mobile-only {
      flex-direction: row-reverse;

      @include padding-y(26px);
    }

    &_sticky {
      width: 100%;
      position: fixed;
      top: 0;
      left: 50%;
      z-index: 10;
      max-width: 1440px;
      transform: translateX(-50%);

      & .container {
        @include mobile-only {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
